name: CI Check

on:
  push:
    branches: [ "main" ]

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Make script executable
        run: chmod +x Module2-WebHosting-Bash/system-info.sh

      - name: Run system info script
        run: ./Module2-WebHosting-Bash/system-info.sh

      - name: Final Message
        run: echo "Week 3 CI Successful"
